@{
    ViewBag.Title = "Home Page";
}

<div class="login-form">
    <form method="post" action="">
        <h2 class="text-center">Sign In</h2>
        <div class="form-group">
            <input class="form-control" type="text" id="pseudo" placeholder="userName">
        </div>
        <div class="form-group">
            <input class="form-control" type="password"  id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary row" id="SignIn">Sign in</button>
        </div>
       
    </form>
    <div class="text-center">
        <a href="#">Create Account</a>
    </div>

</div>



